body{
	font-family: Verdana,sans-serif;
  	font-style: normal;
	/*background-image:url('http://p1.pichost.me/i/53/1767640.jpg');*/
	background-size: cover;
}

.nav a {
  color:#5a5a5a; /* #3f3f3f#00b0ff #4dc8ff #5a5a5a*/
  font-size: 13px;
  font-weight:bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav a:hover{
	color:#00b0ff;
}
.nav li {
  display: inline;
}

.container{
	margin-top:1%;
}

.header{
		height: 7em;
		width:50%;
		align:center;
		background-color: #32CD99; /*#4682B4*/
		border-radius:0.5em;
		margin-bottom: 20px;
		margin-left:auto;
		margin-right:auto;
		margin-top:1em;
		vertical-align:middle;
		text-align:center;
		
}
	
#heading_top{
	font-size:3.5em;
	text-align:center;
	font-weight:bold;
	padding-top:0.25em;
	color:#ffffff;
}

#logo{
	position:relative;
	margin-left:38%;
	color:grey;
}

#log{
	margin-top:3%;
	color:grey;
}

#head1{
	text-align:center;
	font-size:2em;
	font-weight:bold;
	color:#000000;
}

#head2{
	text-align:center;
	font-size:1.3em;
	font-weight:bold;
	color:#000000;
}

.box{
	background-color:#ffffff;
	align:center;
	color:#000000;
	border-radius:8px;
	height:2.3em;
	width:30em;
	margin-top:0.5em;
}

.box:hover{
	border:solid 3px #87CEEB;
}

.btn{
	align:center;
	margin-top:1em;
}
/*https://static.pexels.com/photos/1510/road-sky-sand-street.jpg*/